VITE_API_URL=http://127.0.0.1:8000/api
VITE_GOOGLE_MAPS_API_KEY=

# Backend CORS setting (Optional: set this if you have a specific public domain)
# ALLOWED_VITE_ORIGIN=https://your-project.vercel.app
